@import "tow-utility-menu";
.grid {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0; }
  .grid md-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
  .grid md-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    margin-top: 8px;
    margin-bottom: 8px;
    /* Mixin for how many grid items to show per row */ }

      .grid md-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 33.33333%;
            -ms-flex: 1 1 33.33333%;
                flex: 1 1 33.33333%;
        max-width: 33.33333%; }
        .grid md-item:nth-of-type(3n+1) {
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start; }
        .grid md-item:nth-of-type(3n) {
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end; }
    
    .grid md-item .md-item-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 48px; }
    .grid md-item .md-icon-container {
      display: inline-block;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      height: 48px;
      width: 48px;
      margin: 8px 0; }
    .grid md-item p.grid-text {
      font-weight: 300;
      line-height: 16px;
      font-size: 13px;
      margin: 0;
      white-space: nowrap;
      width: 48px;
      text-align: center; }